/**
* Breadcrumb Menu - Theme
*/

#breadcrumb-menu .dropdown {
	position: absolute;
	font-size: 1.1em;
}

#breadcrumb-menu .hidden {
	display: none;
}

#breadcrumb-menu .dropdown-contents {
	max-height: inherit;
	max-width: 250px !important;
	min-width: 130px;
	overflow: inherit;
}

#breadcrumb-menu li {
	margin: 0;
	padding: 0;
	position: relative;
}

#breadcrumb-menu li:first-child {
	border-top: none;
	margin: 0;
}

#breadcrumb-menu a {
	display: block;
	font-weight: normal;
	padding: 4px 12px 4px 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#breadcrumb-menu .dropdown-left a {
	padding-left: 10px;
	padding-right: 4px;
}
#breadcrumb-menu .children > a:before {
	content: '\203A';
	font-weight: bold;
	position: absolute;
	right: 2px;
}
#breadcrumb-menu .dropdown-left .children > a:before {
	content: '\2039';
	left: 1px;
	right: auto;
}

#breadcrumb-menu a:hover {
	background: rgba(100,100,100,0.05);
}
#breadcrumb-menu .current > a {
	background: rgba(100,100,100,0.05);
}

#breadcrumb-menu .children .dropdown-contents {
	position: absolute;
}

#breadcrumb-menu .dropdown-up {
	padding: 0 0 9px;
}
#breadcrumb-menu .dropdown-left .pointer {
    left: auto;
    right: 10px;
}

.rtl #breadcrumb-menu .children > a:before {
	content: '\2039';
}
.rtl #breadcrumb-menu .dropdown-left .children > a:before {
	content: '\203A';
}


/* responsive design */
@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	#breadcrumb-menu .dropdown-contents {
		min-width: inherit;
	}
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
	#breadcrumb-menu .dropdown-contents {
		max-width: 220px !important;
	}
}
