/**
* Breadcrumb Menu - Theme
*/

#breadcrumb-menu .dropdown {
	position: absolute;
	font-size: 1.1em;
}

#breadcrumb-menu .hidden {
	display: none;
}

#breadcrumb-menu .dropdown-contents {
	max-height: inherit;
	max-width: 250px !important;
	min-width: 130px;
	overflow: inherit;
}

#breadcrumb-menu li {
	margin: 0;
	padding: 0;
	position: relative;
}

#breadcrumb-menu li:first-child {
	border-top: none;
	margin: 0;
}

#breadcrumb-menu a {
	display: block;
	font-weight: normal;
	padding: 4px 12px 4px 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#breadcrumb-menu li.children > a:before {
	content: '›';
	/*content: '\f054';
	font-family: FontAwesome;*/
	font-weight: bold;
	right: 2px;
	position: absolute;
}
#breadcrumb-menu a:hover {
	background: rgba(100,100,100,0.05);
}
#breadcrumb-menu .current > a {
	background: rgba(100,100,100,0.05);
}

#breadcrumb-menu .children .dropdown-contents {
	position: absolute;
	left: 100%;
	top: 0;
}

#breadcrumb-menu .dropdown-up {
	padding: 0 0 9px;
}

/* responsive design */
@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	#breadcrumb-menu .dropdown-contents {
		min-width: inherit;
	}
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
	#breadcrumb-menu .dropdown-contents {
		max-width: 220px !important;
	}
}
