{% if BREADCRUMB_MENU %}
<div id="breadcrumb-menu">
	<ul id="crumb-index" class="hidden">
		{{ BREADCRUMB_MENU }}

		{% if U_NEWSPAGE %}
			<li{% if NEWS_TITLE is defined %} class="current"{% endif %}><a href="{{ U_NEWSPAGE }}">{{ lang('NEWSPAGE') }}</a></li>
		{% endif %}

		{% set page_switches = [S_OVERALL_HEADER_NAVIGATION_PREPEND, S_OVERALL_HEADER_NAVIGATION_APPEND, S_OVERALL_FOOTER_TEAMLINK_AFTER, S_OVERALL_FOOTER_TEAMLINK_BEFORE, S_OVERALL_FOOTER_TIMEZONE_AFTER, S_OVERALL_FOOTER_TIMEZONE_BEFORE] %}
		{% set page_locations = [loops.overall_header_navigation_prepend_links, loops.overall_header_navigation_append_links, loops.overall_footer_teamlink_after_links, loops.overall_footer_teamlink_before_links, loops.overall_footer_timezone_after_links, loops.overall_footer_timezone_before_links_links] %}
		{% set pages_included = [] %}

		{% for location in page_locations %}
			{% if page_switches[loop.index0] %}
				{% for link in location if link.LINK_ROUTE not in pages_included %}
					<li{% if PAGE_TITLE == link.LINK_TITLE %} class="current"{% endif %}><a href="{{ link.U_LINK_URL }}">{{ link.LINK_TITLE }}</a></li>
					{% set pages_included = pages_included|merge([link.LINK_ROUTE]) %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% if S_BOARDRULES_LINK_ENABLED %}
			<li{% if S_BOARD_RULES %} class="current"{% endif %}><a href="{{ U_BOARDRULES }}">{{ lang('BOARDRULES') }}</a></li>
		{% endif %}
	</ul>
</div>

<!-- INCLUDEJS @paybas_breadcrumbmenu/jquery-ui-1.11.2.custom.min.js -->
<!-- INCLUDEJS @paybas_breadcrumbmenu/breadcrumb-menu.js -->
{% endif %}
